/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
@font-face {
  font-family: SerifBodyFont;
  src: url('path/to/serif-body-font.woff2') format('woff2'),
    url('path/to/serif-body-font.woff') format('woff');
}

@font-face {
  font-family: SanSerifHeadingFont;
  src: url('path/to/sans-serif-heading-font.woff2') format('woff2'),
    url('path/to/sans-serif-heading-font.woff') format('woff');
  ;
}

body {
  font-family: 'SerifBodyFont', serif;
  font-size: 10px;
  line-height: 25px;
}

h1,
h2 {
  font-family: 'SanSerifHeadingFont', sans-serif;
}