html {
  font-family: sans-serif;
}


/* Your CSS below here */
div {
  background-color: red;
  height: 150px;
  width: 200px;
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 15px;
  border: 1px, rgb(97, 27, 27);

}